@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(petInfoList:List[Map[String,Any]],user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("home.title"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">@messages("welcome.signed.in")</h4>
            <div class="col-md-4 text-right">
                <img src="@user.avatarURL.getOrElse(assets.path("images/silhouette.png"))" height="40px" />
            </div>
            <hr class="col-md-12" />
        </div>
        @if(user.loginInfo.providerID == com.mohiva.play.silhouette.impl.providers.CredentialsProvider.ID) {
        <li><a href="@controllers.auth.routes.ChangePasswordController.view">@messages("change.password")</a></li>
        }
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                    <p class="col-md-6"><strong>@messages("first.name"):</strong></p><p class="col-md-6">@user.firstName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("last.name"):</strong></p><p class="col-md-6">@user.lastName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("full.name"):</strong></p><p class="col-md-6">@user.fullName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("email"):</strong></p><p class="col-md-6">@user.email.getOrElse("None")</p>
                </div>
            </div>
        </div>
        <hr>
        <h4>迷子ペット投稿一覧</h4>
        <div>
            @if(petInfoList.length == 0) {
            投稿している迷子ペット情報はありません。
            } else {
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Pet Name</th>
                    <th>Pet Kinde</th>
                    <th>Search Pref</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @for(d <- petInfoList) {
                <tr>
                    <td><img src="/assets/@d("image_path")" width="65" height="65"></td>
                    <td><a href="/petInfoDisplay/@d("id")">@d("name")</a></td>
                    <td>@util.MessageUtil.getPropetyMessage("pet.type." + d("kind"))</td>
                    <td>@util.MessageUtil.getPropetyMessage("pref." + d("pref"))</td>
                    <td>
                        <form action="" id="update-form@d("id")" data-id="@d("id")">
                            <input type="button" id="update" class="btn btn-info" value="更新" />
                        </form>
                    </td>
                    <td>
                        <form action="" id="delete-form@d("id")" data-id="@d("id")">
                            <input type="button" id="delete" class="btn btn-warning" value="削除" />
                        </form>
                    </td>
                </tr>
                </form>
                }
                </tbody>
            </table>
            }
        </div>
    </div>
    <div id="cdl1" style="display:none;">
        <p>この内容でよろしいでしょうか？</p>
    </div>
<script src="@assets.path("javascripts/home.js")"></script>
}
