@import helper._
@import forms.PetInfoRegistorForm
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(errorFlg:Boolean
    ,petInfoList:List[Map[String,Any]],user: models.User)(
implicit assetsFinder: AssetsFinder,request: RequestHeader, messagesProvider: MessagesProvider, webJarsUtil: WebJarsUtil)

@main("ペット捜索情報", assetsFinder, webJarsUtil) {
@header("", Some(user))
<h2>迷子ペット情報画面</h2>
@if(errorFlg) {
表示されているペット情報はすでに削除されている可能性があります。
} else {
<br/>
<div class="container">
    @for(d <- petInfoList) {
    <img src="/assets/@d("image_path")" width="300" height="300">
    <br/>
    <div class="form-group">
        <label id="nameLabel" class="control-label col-xs-6">ペットの名前</label>
        @d("name")
    </div>
    <div class="form-group">
        <label id="petKindLabel" class="control-label col-xs-6">ペットの種類</label>
        @util.MessageUtil.getPropetyMessage("pet.type." + d("kind"))
    </div>
    <div class="form-group">
        <label id="genderLabel" class="control-label col-xs-6">ペットの性別</label>
        @util.MessageUtil.getPropetyMessage("gender." + d("gender"))
    </div>
    <div class="form-group">
        <label id="featureLabel" class="control-label col-xs-6">ペットの特徴</label>
        <div>
            @d("feature")
        </div>
    </div>
    <div class="from-group">
        <label id="prefLabel" class="control-label col-xs-6">都道府県</label>
        @util.MessageUtil.getPropetyMessage("pref." + d("pref"))
    </div>
    <div class="form-group">
        <label id="lostPlaceLabel" class="control-label col-xs-6">迷子になった場所</label>
        @d("place")
    </div>
    <!-- 地図を表示させる要素 -->
    <div class="map_box01"><div id="map-canvas" style="width: 600px;height: 350px;"></div></div>
    <script>dispayMap(@d("lat"), @d("lng"));</script>
    <input type="hidden" value="@d("lat")", id="lat" name="lat">
    <input type="hidden" value="@d("lng")", id="lng" name="lng">
    }
</div>
<br/>
<br/>
<br/>
<br/>
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6tS0tAb71DKpqpvrHzijoFVWrnISqgl8" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/petInfoDisplay.js")" type="text/javascript"></script>
}

