@import helper._
@import forms.PetInfoRegistorForm
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(petInfoList:List[Map[String,Any]], user: models.User)(
implicit assetsFinder: AssetsFinder, webJarsUtil: WebJarsUtil, messages: Messages)

<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</style>
@main("ペット捜索情報入力", assetsFinder, webJarsUtil) {
@header("", Some(user))
<h2>登録画面</h2>
<br/>
@if(petInfoList.length == 0) {
該当するデータがありません。
} else {
    <table>
        @for(d <- petInfoList) {
        <tr>
            <td><img src="/assets/@d("image_path")" width="100" height="100"></td>
            <td><a href="/petInfoDisplay/@d("id")">@d("name")</a></td>
            <td>@util.MessageUtil.getPropetyMessage("pet.type." + d("kind"))</td>
            <td>@util.MessageUtil.getPropetyMessage("pref." + d("pref"))</td>
        </tr>
        }
    </table>
}
<br/>
<table>

</table>
}

